/**
 * Description: Short description.
 * Version: 1.0.0
 * Last update: YYYY/MM/DD
 * Author: User Name <username@gmail.com>
 *
 * Summary:
 *
 *	0. ELEMENT
 *		- 0.1. TYPE ELEMENT
 *		- 0.2. TYPE ELEMENT
 *	1. ELEMENT
 *		- 1.1. TYPE ELEMENT
 *		- 1.2. TYPE ELEMENT
 */

/* ==========================================================================
   0. ELEMENT
   ========================================================================== */

/* 0.1. TYPE ELEMENT
   ========================================================================== */

/* 0.2. TYPE ELEMENT
   ========================================================================== */

#editor {
	font-size: 18px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#console {
	position: absolute;
	background-color: #F0F0F0;
	border: 3px solid #666;
	top: 92%;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
}

#console:before {
	content: "Console:";
	font: italic small-caps bold 14px "Comic Sans MS", sans-serif;
	position: absolute;
	top: 2px;
	left: 5px;
}

#msg {
	position: absolute;
	top: 25px;
	left: 5px;
}

.msg-ok {
	font: italic small-caps bold 14px "Comic Sans MS", sans-serif;
	color: #2980b9;
}

.msg-error {
	font: italic small-caps bold 14px "Comic Sans MS", sans-serif;
	color: #c0392b;
}

#btn-run {
	font: italic small-caps bold 14px "Comic Sans MS", sans-serif;
	text-transform: uppercase;
	background-color: #27ae60;
	color: white;
	position: absolute;
	border: 1px solid #666;
	border-left: 4px solid #666;
	right: 0;
	width: 100px;
	height: 100%;
	outline: none;
	cursor: pointer;
}

#btn-run:hover {
	background-color: #2ecc71;
	text-shadow: 1px 1px 1px #000;
}